<div id="<%= dom_id friends_list %>">
<section class="profilex">
    <div class="labelx">
      <%= link_to friends_list.full_name ,friends_list%>
    </div>
    <div class="labelx">
    <%= friends_list.about %>
    </div>  
    <div class="labelx">
    <%= friends_list.email %>
    </div>
    <div class="labelx">
    <%= friends_list.twitter %>
    </div>
    <div class="labelx">
    <%= friends_list.phone %>
    </div>  
    <div class="labelx">
    <%= friends_list.user_id %>
    </div>  
</div>
<style>
.profilex{
width: 300px;
height: 300px;
padding: 10px 16px;
margin:14px 10px;
border-radius:5px;
box-shadow:1px 1px 5px rgba(0,0,0,0.15);
margin-bottom:5px;
/* background-color:rgb(240,240,240);
 */
background-color:lightpink;
display: flex;
flex-direction:column;
justify-content:space-between;
}
.labelx{
padding: 10px 6px;
border-radius:5px;
box-shadow:1px 1px 5px rgba(0,0,0,0.15);
background-color:white;
}

</style>