<div id="<%= dom_id friends_list %>">
  <p>
    <strong>Full name:</strong>
    <%= friends_list.full_name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= friends_list.about %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friends_list.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friends_list.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friends_list.twitter %>
  </p>

</div>
