<p style="color: green"><%= notice %></p>

<%= render @friends_list %>

<div>
  <%= link_to "Update Info", edit_friends_list_path(@friends_list), class:"btn btn-primary my-3" %>
  <%= link_to "Return", friends_lists_path, class:"btn btn-secondary my-3"%>
  <%= button_to "Delete Friend", @friends_list, method: :delete,class:"btn btn-danger my-3 d-block" %>
</div>
  